@{
    ViewBag.Title = "RegisterSuccess";
}

<div class="page">
    <div class="page-header">
        <h2>Vous êtes désormais User</h2>
        <p>Vous pouvez gérer le contenu du site</p>
        <div class="section">
             @Html.ActionLink("Accéder à l'administration", "Index", "AdminPost", false, new { @class="button bg-color-blue big" })
           
        </div>
    </div>
</div>

